.hero{
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;     
}
.hero1{
    
    background-color:red;
}
.hero2{
    background-color: orange;
}
.hero3{
    background-color: yellow;
}
.hero4{
    background-color: white;
}
.hero5{
    background-color: rgb(0, 153, 255);
}
.hero6{
    background-color: rgb(3, 3, 177);
}
.hero7{
    background-color: blueviolet;
}




.hero{
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;     
}



.hero__wrapp{
    margin-top: 100px;
    margin-bottom: 100px;
 display: flex;
 justify-content: space-around;
 align-items: center;

    /* gap: 40px; */

    @media (max-width:700px) {
        /* flex-wrap: wrap; */
        
        flex-direction: column;
    }
}
.hero__wrapp-about{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;

    h2{
        max-width: 600px;
        font-weight: 600;
        font-size: 45px;
        text-transform: uppercase;
    }
    p{
       
        max-width: 430px;
        font-size: 18px;
        line-height: 28px;
    }
    button{
        background-color:  #8EADD5;
        text-transform: uppercase;
        color: white;
        border: none;
        border-radius: 15px;
        padding: 15px 30px;
        width: max-content;
    }


}

.hero__img{
    width: 100%;
    object-fit: cover;
}